*.dll
*.exe
*.o
*.so
*.com
*.class
*.xlsx
*.xls
*.pdf
*.docs
*.ppt
*.pptx
*.dmg
*.iso
*.tar
*.zip
*.gz
*.vscode/*
*.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json